img, object{
	max-height:100%;
	max-width:100%;
}

.banner
{float: center; }

.home

{float: center; }

.about

{float: center; }

.contact

{float: center; }

.sale

img, object{
	max-height:100%;
	max-width:100%;
}
