img, object{
	max-height:100%;
	max-width:100%;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.sale

img, object{
	max-height:100%;
	max-width:100%;
}
